
@if (Request.IsAuthenticated) {
    <script>
        $(document).ready(function () {            
            $(".sinsesion").hide();
            $(".ocultarlogin").hide();
        })
    </script>
    <style>
        .contenedor_opciones{
           margin:0 auto;
           width:500px;
           border:#000000 0px solid;
           min-height:30px;
           text-align:center;
        }
        .opciones{
           padding-left:0px 2px;
           margin:2px 5px;
           color:#000000;
           font-weight:normal;
           font-size:12px;
           vertical-align:middle;
           text-align:center;
           float:left;
        }
        
        .opciones a img {
            border-radius:5px;
        }
        
    </style>
    <text >
    <div class="contenedor_opciones">
        <div class="opciones">
            <a href="http://localhost:2606/perfil/Edit/@Session["idUsuario"]" class="tooltip circle" title="Editaryt Perfil">
                
                <img src="../@ViewBag.fotoA" width="40" height="33"  />                
            </a>
        </div>
        <div class="opciones">@User.Identity.Name</div>
        <div class="opciones">
            @Html.ActionLink(/*User.Identity.Name*/"Cambiar Password", "Manage", "Account", routeValues: null, htmlAttributes: new { @class = "username", title = "Manage" }) 
            @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" })) {
            @Html.AntiForgeryToken()            
            }
        </div>
        <div class="opciones">
            <a href="javascript:document.getElementById('logoutForm').submit()" class="LoginOn">Salir</a>
        </div>
    </div>
    </text>
} else {
     <script>
         $(document).ready(function () {
             $(".ocultarlogin").show();
         })
    </script>
    <ul>
        <!--<li>@Html.ActionLink("Log in", "Index", "Home", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
        <li>@Html.ActionLink("Registrarse", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>-->
        
    </ul>
}

