
@if (Request.IsAuthenticated) {
    <script>
        $(document).ready(function () {            
            $(".sinsesion").hide();
            $(".ocultarlogin").hide();
        })
    </script>
    <text >
        <div style="border:0px solid #000;margin:0 auto;width:45px;margin-top:5px;"><a href="perfil/Edit/@Session["idUsuario"]" style="text-decoration:none;color:#414E5E;"><img src="../../Avatar/@ViewBag.foto" width="40" height="40" /><div style="margin:-5px 0px -10px 10px;">@User.Identity.Name</div></a></div>
        <div style="border:0px solid #000;margin:0 auto;text-align:center;">@Html.ActionLink(/*User.Identity.Name*/"Cambiar Password", "Manage", "Account", routeValues: null, htmlAttributes: new { @class = "username", title = "Manage" }) 
        @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" })) {
        @Html.AntiForgeryToken()
        <a href="javascript:document.getElementById('logoutForm').submit()" class="LoginOn">Salir</a>
        }</div>
    </text>
} else {
     <script>
         $(document).ready(function () {
             $(".ocultarlogin").show();
         })
    </script>
    <ul>
        <!--<li>@Html.ActionLink("Log in", "Index", "Home", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
        <li>@Html.ActionLink("Registrarse", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>-->
        
    </ul>
}

