@model P.V.WantHelp_.Models.Material

@{
    ViewBag.Title = "Delete";
}
<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
	<link rel="stylesheet" href="~/Css/csspopup.css">
	<script>
	    $(document).ready(function () {

	        $('.popupgeneral').fadeIn(function () {


	            window.setTimeout(function () {
	                $('.popupgeneral2.' + "zoomin").addClass('window-container-visible');
	            }, 100);
	        });

	        $('.close').click(function () {
	            $('.popupgeneral').fadeOut().end().find('.popupgeneral2').removeClass('window-container-visible');
	        });
	    });
	</script>

<div class="popupgeneral">
		<div class="popupgeneral2 zoomin">
		
<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Material</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Id_Material)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Id_Material)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Usuario.Nombre)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Usuario.Nombre)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Cursos.Titulo)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Cursos.Titulo)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.archivos)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.archivos)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.urlBase)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.urlBase)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.urlHost)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.urlHost)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        @Html.ActionLink("<-- Atrás", "Index")|
        <input type="submit" value="Eliminar" class="close" style="background:none; border:none;left:0; text-decoration:underline; font-family:Calibri;font-size:12px" /> 
        
    </p>
}
            </div>
		
	</div>