@model P.V.WantHelp_.Models.LocalPasswordModel

<h3>Cambiar password</h3>

@using (Html.BeginForm("Manage", "Account")) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <fieldset>
        <legend>Change Password Form</legend>
        <ol>
            <li>
                <h3>Password Actual</h3>
                @Html.PasswordFor(m => m.OldPassword)
            </li>
            <li>
                <h3>Nuevo Password</h3>
                @Html.PasswordFor(m => m.NewPassword)
            </li>
            <li>
                <h3>Confirmar Password</h3>
                @Html.PasswordFor(m => m.ConfirmPassword)
            </li>
        </ol>
        <input type="submit" value="Guardar" />
    </fieldset>
}
